<section id="products-container" class="container-fluid my-4" data-add-url="{% url 'add_to_cart' %}">

    {% csrf_token %}

    <!-- ================= NEWLY ADDED GAMES ================= -->
    <div class="row g-4 mt-2">
        <div class="col-12">
            <h2 class="game-categories">Newly Added Games</h2>
        </div>
    </div>
    <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
        {% for product in new_products %}
        {% if product.thumbnail %}
        <div class="col">
            {% include 'products/includes/productCard.html' %}
        </div>
        {% endif %}
        {% empty %}
        <div class="col-12 text-center">
            <p class="text-muted">No Products Available!</p>
        </div>
        {% endfor %}
    </div>

    <!-- ================= MOST SELLING GAMES ================= -->
    <div class="row g-4 mt-4">
        <div class="col-12">
            <h2 class="game-categories">Most Selling Games</h2>
        </div>
    </div>
    <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
        {% for product in most_selling_products %}
        {% if product.thumbnail %}
        <div class="col">
            {% include 'products/includes/productCard.html' %}
        </div>
        {% endif %}
        {% empty %}
        <div class="col-12 text-center">
            <p class="text-muted">No Products Available!</p>
        </div>
        {% endfor %}
    </div>

</section>