{% extends 'base/base.html' %}

{% block title %}
Products
{% endblock %}

{% block content %}
<section class="products-header py-5 text-center fade-in">
    {% if user.is_staff %}
    <div class="container">
        <h1 class="display-4 fw-bold gradient-text mb-3">Our Products</h1>
        <p class="lead text-muted">Discover premium electronics accessories</p>

        <a href="{% url 'add_product' %}" class="btn btn-primary mt-3">
            <i class="bi bi-plus-circle"></i> Add Product
        </a>
        {% endif %}
    </div>

</section>

<section id="products-container" class="container-fluid my-4" data-add-url="{% url 'add_to_cart' %}">
    {% csrf_token %}
    <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
        {% for product in products %}
        {% if product.thumbnail %}
        <div class="col">
            {% include 'products/includes/productCard.html' %}
        </div>
        {% endif %}
        {% empty %}
        <div class="col-12 text-center">
            <p class="text-muted">No Products Available!</p>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}